---
import type Product from "../types/product";
const { default: cartSVG } = await import("../assets/add-one-cart.svg?raw");

interface Props {
  producto: Product;
}

const { producto: p } = Astro.props;
---

<button
  class="addToCart"
  title="Agregar uno al carrito"
  data-id={p.id}
  data-name={p.name}
  data-price={p.price}
  data-img={p.img}
>
  <Fragment set:html={cartSVG} />
</button>

<style>
  .addToCart {
    float: right;
    background-color: var(--principal-background-color-dark);
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .addToCart:hover {
    background-color: #479030;
  }

  .addToCart > span {
    font-size: 1rem;
  }
  :global(.addToCart *) {
    color: #fff;
  }
  :global(.addToCart svg) {
    width: 80%;
    height: 80%;
  }
</style>

<script>
  import addToCart from "@utils/addToCart";
  const checkCart =
    "<svg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'> <path d='M21 5L19 12H7.37671M20 16H8L6 3H3M11 6L13 8L17 4M9 20C9 20.5523 8.55228 21 8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20ZM20 20C20 20.5523 19.5523 21 19 21C18.4477 21 18 20.5523 18 20C18 19.4477 18.4477 19 19 19C19.5523 19 20 19.4477 20 20Z' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'></path> </g></svg>";

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".addToCart").forEach((btn) => {
      btn.addEventListener("click", (e: Event) => {
        const target = e.currentTarget as HTMLButtonElement;
        const id = target.getAttribute("data-id") ?? "";
        const name = target.getAttribute("data-name") ?? "";
        const price = target.getAttribute("data-price") ?? "";
        const img = target.getAttribute("data-img") ?? "";

        addToCart(id, name, price, undefined, img);

        const originalContent = target.innerHTML;
        // Cambia el botón de cart por un "+"
        target.innerHTML = checkCart;
        target.disabled = true;
        target.style.backgroundColor = "#479030";

        // reinicia el botón
        setTimeout(() => {
          target.innerHTML = originalContent;
          target.disabled = false;
          target.style.backgroundColor =
            "var(--principal-background-color-dark)";
        }, 1500);
      });
    });
  });
</script>
