---
// Diseño del card: https://codepen.io/slicecrowd/pen/GWJEZB?editors=1100

import type Product from "../types/product";
import { config } from "../config";
import AddToCartButton from "./AddToCartButton.astro";
import styles from "../styles/components/ItemProductoBox.module.css";

export interface Props {
  producto: Product;
}

const { producto: p } = Astro.props;
---

<article class={styles.producto_card} data-product-card>
  <div class={styles["box-up"]}>
    <img src={p.img[0]} alt={p.name} class={styles.img} />
    <div class={styles["img-info"]}>
      <div class={styles["info-inner"]}>
        <span class={styles["p-name"]}>{p.name}</span>
        <span class={styles["p-categories"]}>
          {p.categories.join(" ")}
        </span>
      </div>
    </div>
  </div>

  <div class={styles["box-down"]}>
    <div class={styles["h-bg"]}>
      <div class={styles["h-bg-inner"]}></div>
    </div>

    <a
      href={`${config.base}/producto/${p.id}`}
      class={styles["price-box"]}
      title="Ir a comprar"
    >
      <span class={styles.price}>${p.price}</span>
      <span class={styles["go-to-product"]}>
        <span class={styles.txt}>Comprar</span>
      </span>
    </a>
  </div>

  <div class={styles["cart-box"]}>
    <AddToCartButton producto={p} />
  </div>
</article>
