---
import type Product from "src/types/product";
import ItemProductoBox from "./ItemProductoBox.astro";
import NavPag from "./NavPag.astro";

import styles from "../styles/components/ListarProductos.module.css";

interface Props {
  products: Product[];
  totalPages: number;
  actualPage?: number;
  baseURL?: string;
}
const {
  products: productos,
  totalPages,
  actualPage = 1,
  baseURL,
} = Astro.props;

const emptyList = !productos || productos.length === 0;
---

<section>
  <div class={`${styles.listaProductos} ${emptyList ? styles.centerBox : ""}`}>
    {emptyList && <h3>Sin Productos</h3>}

    {
      productos.length > 0 && (
        <>
          <ul>
            {productos.map((prod) => (
              <ItemProductoBox producto={prod} />
            ))}
          </ul>

          {totalPages != 1 && (
            <NavPag
              actualPage={actualPage}
              totalPages={totalPages}
              baseURL={baseURL}
            />
          )}
        </>
      )
    }
  </div>
</section>

<script>
  import { initProductFilters } from "../scripts/components/ListarProductos";
  
  initProductFilters();
  
  document.addEventListener('astro:page-load', () => {
    initProductFilters();
  });
</script>
