---
import { config } from "src/config";
import styles from "../styles/components/NavPag.module.css";

const { default: prevArrow } = await import("@assets/prev-arrow.svg?raw");
const { default: nextArrow } = await import("@assets/next-arrow.svg?raw");
const { default: lastArrow } = await import("@assets/last-arrow.svg?raw");
const { default: firstArrow } = await import("@assets/first-arrow.svg?raw");

interface Props {
  totalPages: number;
  actualPage: number;
  baseURL?: string;
}

const { totalPages, actualPage, baseURL = config.base } = Astro.props;

const nextUrl = baseURL.includes("page/") ?  baseURL.replace(/page\/\d+/, `page/${+actualPage + 1}`) : `${baseURL}/page/${+actualPage + 1}`;
const prevUrl = baseURL.includes("page/") ?  baseURL.replace(/page\/\d+/, `page/${+actualPage - 1}`) : `${baseURL}/page/${+actualPage - 1}`;
const lastUrl = baseURL.includes("page/") ?  baseURL.replace(/page\/\d+/, `page/${totalPages}`) : `${baseURL}/page/${totalPages}`;
const firstUrl = baseURL.includes("page/") ?  baseURL.replace(/page\/\d+/, `page/1`) : `${baseURL}/page/1`;
---

<nav class={styles.pagination}>
  {
    actualPage == 1 ? (
      <>
        <span class={styles.button}>
          <Fragment set:html={firstArrow} />
        </span>
        <span class={styles.button}>
          <Fragment set:html={prevArrow} />
        </span>
      </>
    ) : (
      <>
        <a href={firstUrl} class={styles.link}>
          <Fragment set:html={firstArrow} />
        </a>
        <a href={prevUrl} class={styles.link}>
          <Fragment set:html={prevArrow} />
        </a>
      </>
    )
  }
  <span
    ><span id="actualPage">{actualPage}</span> / <span id="totalPages"
      >{totalPages}</span
    ></span
  >
  {
    actualPage == totalPages ? (
      <>
        <span class={styles.button}>
          <Fragment set:html={nextArrow} />
        </span>
        <span class={styles.button}>
          <Fragment set:html={lastArrow} />
        </span>
      </>
    ) : (
      <>
        <a href={nextUrl} class={styles.link}>
          <Fragment set:html={nextArrow} />
        </a>
        <a href={lastUrl} class={styles.link}>
          <Fragment set:html={lastArrow} />
        </a>
      </>
    )
  }
</nav>
